# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# 
data_old/
newtry.ipynb
try.py
/figures/sim
data/HIV/
data/simulation

# Large file

